aclocal.m4
config.log
config.status
configure
Makefile
Makefile.in
Test.code-workspace
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
include/config.h.in
include/stamp-h1
src/client_main.o
src/Client.o
src/server_main.o
src/Server.o
src/strfuncts.o
src/tcpclient
src/TCPClient.o
src/tcpserver
src/TCPServer.o
src/.deps/client_main.Po
src/.deps/Client.Po
src/.deps/server_main.Po
src/.deps/Server.Po
src/.deps/strfuncts.Po
src/.deps/TCPClient.Po
src/.deps/TCPServer.Po
